<div class="row">
	<section class="main col-md-12">
		<article>
			<h2>Wai Chi Ng - the developer</h2>
			<p>Student developer with a demonstrated history of working as an assistant and secretary in the health industry. Skilled
				in C, C++, JavaScript, HTML, CSS, SQL, Research, Event Planning, and Customer Service. Strong IT and administrative professional
				with a Bachelor's Degree from University of Waterloo and an advanced CPA Diploma from Seneca in progress. </p>
		</article>
	</section>
</div>